Documentation.html
Docs/Tables/*
Docs/Tables/
Docs/Static/
Docs/Static/*

*/*.pyc
*.pyc
*.py[a-d]

*vmdscene*
*visualisation*
*.png*
*.jpg
*.tga
*.eps
*.mp4
img/*
img
data

*/__pycache__
*/__pycache__/*

Templates/permanent_settings.py
Templates/include.vmd
settings.inp
src/TCL/MainProcess.tcl


