<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>*Pagetitle*</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- Bootstrap core CSS -->
    <link href="*vendor_folder_path*bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="*css_folder_path*simple-sidebar.css" rel="stylesheet">
    <!-- LaTeX stuff -->
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <!-- Table Styling -->
    <link href="*css_folder_path*table.css" rel="stylesheet">
    <link href="*css_folder_path*navbar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="*css_folder_path*flowchart.css" rel="stylesheet">
    <style>
      .CODE {color: magenta;}
      .param_link:hover {font-weight: bold;}
    </style>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="*vendor_folder_path*jquery/jquery.min.js"></script>
    <script src="*vendor_folder_path*bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Menu Toggle Script -->
    <script>
       $("#menu-toggle2").click(function(e) {
           e.preventDefault();
           $("#wrapper").toggleClass("toggled");
       });
    </script>

</head>

