*header_text*

<body>

  <!-- Nav-Bar start -->
  *top_nav*
  <!-- Nav-Bar end -->

  <div class="container">
    <br />
    <h2>How it works</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>
            <a href='https://en.wikipedia.org/wiki/Table_of_spherical_harmonics#Real_spherical_harmonics' target="_blank">real spherical harmonics</a> 
        </p>
        <img src="*doc_img_folder*/MolecularWavefunction.png" alt="Equation for the movie maker (tell Matt that the image isn't showing!)" style="width: 100%; z-index: 0;">
        <p>
          <p>
          </p>
          <p>
            The other terms are just scalar quantities: the pvecs, aom coefficients and molecular coefficients. The molecular coefficients are complex numbers so the magnitude is used. Depending on the *type_of_wavefunction* chosen the isosurfaces will be coloured based on the position of the product of the molecular and AOM coefficients in the complex plane.
          </p>
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8">
        <h5>Reading Files</h5>
        <p>

        </p>

      </div>
      <div class="col-sm-4">
        <img src="*doc_img_folder*flow_chart.png" width=110% />
      </div>
     </div>
  </div>


</body>
