*header_text*

<body>

  <!-- Nav-Bar start -->
  *top_nav*
  <!-- Nav-Bar end -->

  <div class="container">
    <h2>How to Edit</h2>
    <h4>Editting the Movie Maker Code</h4>
      <p>
        The movie maker code is distributed among lots of different files, which I've tried to divide into logical folders and further sub-divide into different files. An explanation of the files and folders is given below:
      </p>
      *Mov_Mak_Edit*
    <h4>Editting the Documentation Code</h4>
      *Docs_Edit*
    <h4>Misc</h4>
      *Misc*
  </div>


</body>
