*header_text*

<body>

  <!-- Nav-Bar start -->
  *top_nav*
  <!-- Nav-Bar end -->

  <div class="container">
    <h2>How to Edit</h2>
    <h4>Editting the Movie Maker Code</h4>
      <p>
        The movie maker code is distributed among lots of different files, which I've tried to divide into logical folders and further sub-divide into different files. An explanation of the files and folders is given below:
      </p>
      *Mov_Mak_Edit*
    <h4>Editting the Documentation Code</h4>
      Still to come
      <br>
      <br>
    <div class="row">
      <div class="col-sm-12">
        <h4>Misc</h4>
      </div>
      <div class="col-sm-12">
        <h5>Some Important Variables</h5>
      </div>
      <div class="col-sm-12">
        <h6>all_settings</h6>
        <p>
          The `all_settings' variable is probably the most important variable in
          the code. It is the container that stores all the data used within the
          code.
        </p>
      </div>
      <div class="col-sm-6">
        <h6>mol_info</h6>
        <p>
          The `all_settings['mol_info']' variable is a dictionary mapping the
          atom number to the molecule number. The keys ... The values ...
          code.
        </p>
      </div>
      <div class="col-sm-6">
        <h6>AOM_D</h6>
        <p>
          The `all_settings['AOM_D']' variable is a dictionary mapping the
          atom number to the aom coefficient and the index of the atom. The keys
          .... The values ...
          code.
        </p>
      </div>
    </div>
  </div>


</body>
