*header_text*

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                *sidebar_text*
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Nav-Bar start -->
        *top_nav*
        <!-- Nav-Bar end -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Movie Maker Documentation</h1>
                *intro_text*
                <div class="col-sm-12">
                  <center>
                    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Setting Directory</a>
                  </center>
                </div>
                *quick_start*
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="*vendor_folder_path*jquery/jquery.min.js"></script>
    <script src="*vendor_folder_path*bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
