<!-- This is stuff for the main page -->
<br />
<h3  class="col-md-12">Intro</h3>
<br />
<p  class="col-md-12" >
  Using the movie maker is (hopefully) very simple. Everything is controlled via the 'settings.inp' file. This file is executed line by line as a python file so the syntax is very similar. Any settings inputted here will be used in the code. Any settings that have been missed will be taken from the defaults. All the default settings are given in the Settings Directory in these docs.
</p>
<br />
