*header_text*
<body>
    <div id="wrapper">
       <div class="row">
           <div width=190px>
               <!-- Sidebar -->
                <ul class="sidebar-nav2">
                    *sidebar_text*
                </ul>
			  </div>
           <!-- /#sidebar-wrapper -->
           
           <!-- Nav-Bar start -->
           *top_nav*
           <!-- Nav-Bar end -->

           <div style="margin-left: 190px;">
             <div class="container">
               <br />
               <h2>*table_name*</h2>
               <div class="datagrid">
                   *table_data*
               </div>
             </div>
           </div>
		 </div>
    </div>
</body>

</html>
